
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160.3rem;
}.desktop-1-9tU {
  display: flex;
  align-items: flex-end;
  background-color: #eeeeee;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-3wbn-xqv {
    margin-right: 6.2rem;
    width: 26.1rem;
    height: 102.4rem;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.6rem 1.2rem 4.5rem 1.2rem;
    display: flex;
    flex-direction: column;
    background-color: #040440;

    .auto-group-s6sz-9ov {
      margin: 0rem 6rem 3.1rem 1.251rem;
      width: calc(100% - 7.2505rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .setting-01-Tpc {
        flex-shrink: 0;
        margin: 0rem 1.237rem 0.298rem 0rem;
        width: 2.1125rem;
        height: 2.1667rem;
        object-fit: contain;
        vertical-align: top;
      }
      .dashboard-Aj2 {
        font-size: 2.3rem;
        font-weight: 600;
        line-height: 1.5;
        color: #fffdfd;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .dashboard-icon-fvg {
      flex-shrink: 0;
      margin: 0rem 1.6rem 3rem 1rem;
      padding: 0.9rem 10rem 0.975rem 1.075rem;
      background-color: rgba(217, 217, 217, 0.2300000042);
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: calc(100% - 2.6rem);
      display: flex;
      align-items: center;

      .dashboard-square-01-MoW {
        height: 1.75rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.175rem 1.375rem 0rem 0rem;
        width: 1.75rem;
      }
      .dashboard-GvU {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.125rem;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
      }
    }
    .dashboard-icon-x2c {
      height: 2.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.6rem 3.6rem 1.8rem;
      box-sizing: border-box;
      padding: 0.2rem 0rem 0.2rem 0.6rem;
      width: calc(100% - 3.4rem);

      .boxing-bag-3pk {
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 1.2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .product-CBr {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 11.1rem 0.2rem 0rem;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
      }
      .down-icon-73v {
        position: relative;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0.4rem 0rem 0.497rem 0rem;
        width: 1rem;
        height: calc(100% - 0.8973rem);

        .rectangle-2061-d2G {
          left: 0.0003rem;
          top: 0.0035rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          width: 0.9897rem;
          height: 0.6088rem;
          position: absolute;
        }
        .rectangle-2062-6Re {
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          width: 0.9847rem;
          height: 0.6159rem;
          position: absolute;
          left: 0.0132rem;
          top: 0.4864rem;
        }
      }
    }
    .product-icon-QSL {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.6rem 3.5rem 1.8rem;
      box-sizing: border-box;
      padding: 0.25rem 0rem 0.25rem 0.25rem;
      width: calc(100% - 3.4rem);
      height: 2.4rem;
      display: flex;

      .user-id-verification-K3W {
        margin-right: 1.25rem;
        width: 1.9rem;
        height: 1.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-icon-FSx {
        height: calc(100% - 0.1rem);
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0.05rem 0;

        .customers-oDa {
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 9.1rem;
          font-size: 1.2rem;
        }
        .down-icon-KSp {
          margin: 0.4rem 0rem 0.297rem 0rem;
          width: 1rem;
          height: calc(100% - 0.6973rem);
          position: relative;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .rectangle-2061-3Np {
            border-radius: 0.5rem;
            width: 0.9897rem;
            height: 0.6088rem;
            position: absolute;
            left: 0.0003rem;
            top: 0.0035rem;
            background-color: #d9d9d9;
          }
          .rectangle-2062-XSQ {
            top: 0.4864rem;
            background-color: #d9d9d9;
            border-radius: 0.5rem;
            width: 0.9847rem;
            height: 0.6159rem;
            position: absolute;
            left: 0.0132rem;
          }
        }
      }
    }
    .product-icon-2tx {
      margin: 0rem 1.6rem 3.9rem 1.8rem;
      width: calc(100% - 3.4rem);
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .wallet-add-01-AEU {
        flex-shrink: 0;
        margin-right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .dashboard-icon-VnY {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        height: 1.8rem;
        display: flex;
        align-items: center;

        .income-r7J {
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 11.2rem;
          font-size: 1.2rem;
          font-weight: 600;
        }
        .down-icon-bKn {
          flex-shrink: 0;
          margin: 0.4rem 0rem 0.297rem 0rem;
          width: 1rem;
          height: calc(100% - 0.6973rem);
          position: relative;
          border-radius: 0.5rem;

          .rectangle-2061-WSk {
            border-radius: 0.5rem;
            width: 0.9897rem;
            height: 0.6088rem;
            position: absolute;
            left: 0.0003rem;
            top: 0.0035rem;
            background-color: #d9d9d9;
          }
          .rectangle-2062-2AC {
            background-color: #d9d9d9;
            border-radius: 0.5rem;
            width: 0.9847rem;
            height: 0.6159rem;
            position: absolute;
            left: 0.0132rem;
            top: 0.4864rem;
          }
        }
      }
    }
    .group-2-vFa {
      margin: 0rem 1.7rem 3.867rem 1.9rem;
      width: calc(100% - 3.6rem);
      height: 2.5329rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .alert-diamond-EXA {
        margin-right: 0.8rem;
        width: 2.4rem;
        height: 2.5329rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .product-icon-Afi {
        margin: 0.3rem 0rem 0.433rem 0rem;
        width: 16.9rem;
        height: calc(100% - 0.7329rem);
        border-radius: 0.5rem;
        flex-shrink: 0;

        .dashboard-icon-Tui {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          border-radius: 0.5rem;

          .promote-1gL {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 10.6rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
          }
          .down-icon-v2c {
            margin: 0.4rem 0rem 0.297rem 0rem;
            width: 1rem;
            height: calc(100% - 0.6973rem);
            position: relative;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .rectangle-2061-eUQ {
              top: 0.0035rem;
              background-color: #d9d9d9;
              border-radius: 0.5rem;
              width: 0.9897rem;
              height: 0.6088rem;
              position: absolute;
              left: 0.0003rem;
            }
            .rectangle-2062-u9S {
              width: 0.9847rem;
              height: 0.6159rem;
              position: absolute;
              left: 0.0132rem;
              top: 0.4864rem;
              background-color: #d9d9d9;
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
    .auto-group-vb44-b2G {
      margin: 0rem 1.7rem 50.35rem 2.15rem;
      width: calc(100% - 3.85rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .help-square-uYk {
        width: 1.9rem;
        height: 1.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.05rem 1.05rem 0rem 0rem;
      }
      .group-3-qBW {
        width: 16.9rem;
        height: 1.8rem;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .product-icon-aPz {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;

          .dashboard-icon-wkL {
            border-radius: 0.5rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .help-V1A {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 13.1rem;
            }
            .down-icon-cba {
              margin: 0.4rem 0rem 0.297rem 0rem;
              width: 1rem;
              height: calc(100% - 0.6973rem);
              position: relative;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .rectangle-2061-jw6 {
                border-radius: 0.5rem;
                width: 0.9897rem;
                height: 0.6088rem;
                position: absolute;
                left: 0.0003rem;
                top: 0.0035rem;
                background-color: #d9d9d9;
              }
              .rectangle-2062-4Ta {
                height: 0.6159rem;
                position: absolute;
                left: 0.0132rem;
                top: 0.4864rem;
                background-color: #d9d9d9;
                border-radius: 0.5rem;
                width: 0.9847rem;
              }
            }
          }
        }
      }
    }
    .dontknow-8iL {
      width: 100%;
      height: 5rem;
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .down-icon-5tU {
        width: 1.1092rem;
        height: 1.0071rem;
        position: absolute;
        left: 21.7107rem;
        top: 2.1118rem;
        border-radius: 0.5rem;

        .rectangle-2061-ctQ {
          left: 0.488rem;
          top: 0.0108rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          width: 0.6202rem;
          height: 0.9828rem;
          position: absolute;
        }
        .rectangle-2062-MLC {
          left: 0.0093rem;
          top: 0.0098rem;
          background-color: #d9d9d9;
          border-radius: 0.5rem;
          width: 0.6044rem;
          height: 0.9916rem;
          position: absolute;
        }
      }
      .dashboard-icon-fLt {
        height: 5rem;
        position: absolute;
        top: 0;
        display: flex;
        background-color: rgba(217, 217, 217, 0.2300000042);
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 23.7rem;
        left: 0;
        align-items: center;
        padding: 1rem 9.7rem 0.7rem 1.4rem;

        .ellipse-10-9mr {
          width: 3.1rem;
          height: 3.1rem;
          background-image: url('REPLACE_IMAGE:8b0695a421a911039652ddd9a96c6077e6cfa2be');
          flex-shrink: 0;
          margin: 0rem 1.2rem 0.2rem 0rem;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 1.55rem;
        }
        .auto-group-sfva-EoJ {
          width: 8.3rem;
          height: 3.1rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 0.2rem;

          .evano-9vG {
            height: 1.8rem;
            left: 0;
            font-size: 1.2rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.8rem;
            position: absolute;
            top: 0;
            font-weight: 600;
            color: #ffffff;
          }
          .project-manager-s5a {
            height: 1.5rem;
            position: absolute;
            left: 0;
            top: 1.6rem;
            white-space: nowrap;
            width: 8.3rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #b7b7b7;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .auto-group-dvvt-iM6 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-ubvy-4vk {
      margin: 0rem 0rem 5.3rem 0.1rem;
      width: 138.6rem;
      height: 69.2rem;
      position: relative;
      flex-shrink: 0;

      .hello-mKN {
        position: absolute;
        left: 0;
        top: 0;
        width: 19.9rem;
        height: 3.5rem;

        .hello-sharukh--WXr {
          width: 19.5rem;
          font-size: 2.3rem;
          font-weight: 600;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          height: 3.5rem;
          position: absolute;
          left: 0;
          top: 0;
          line-height: 1.5;
          color: #1e1e1e;
        }
        .waving-hand-light-skin-tone-2WC {
          height: 2.4rem;
          position: absolute;
          left: 17.9rem;
          top: 0.4rem;
          width: 2rem;

          .waving-hand-light-skin-tone-x8x {
            object-fit: cover;
            vertical-align: top;
            width: 2rem;
            height: 2.4rem;
          }
        }
      }
      .st-box-Usz {
        top: 6.6rem;
        display: flex;
        background-color: #fffdfd;
        border-radius: 0.5rem;
        padding: 2.6rem 1.5rem 2.7rem 1.2rem;
        width: 28.3rem;
        height: 17.4rem;
        position: absolute;
        left: 0;
        align-items: center;
        box-sizing: border-box;

        .earning-logo-BGc {
          margin-right: 1.7rem;
          width: 12.2rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .money-receive-circle-8Sk {
            vertical-align: top;
            width: 6.2rem;
            height: 6.4rem;
            position: absolute;
            left: 3rem;
            top: 2.9rem;
            object-fit: contain;
          }
          .ellipse-1623-SyE {
            width: 12.2rem;
            height: 12.1rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-i5ds-yiG {
          width: 11.7rem;
          height: calc(100% - 6rem);
          position: relative;
          flex-shrink: 0;
          margin: 2.9rem 0rem 3.1rem 0rem;

          .k-heG {
            position: absolute;
            left: 0;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            height: 3.5rem;
            top: 1.3rem;
            font-size: 2.3rem;
            font-weight: 600;
            line-height: 1.5;
            white-space: nowrap;
            width: 6.6rem;
          }
          .earning-6Ac {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            white-space: nowrap;
            width: 4.7rem;
            position: absolute;
            left: 0;
            top: 0;
            color: #d6d6d6;
            font-family: Poppins, 'Source Sans Pro';
            height: 1.8rem;
          }
          .this-month-1oN {
            top: 4.3rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #d6d6d6;
            font-family: Poppins, 'Source Sans Pro';
            left: 1.7rem;
            height: 1.8rem;
            position: absolute;
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            width: 10rem;

            .this-month-1oN-sub-0 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #04a749;
              font-family: Poppins, 'Source Sans Pro';
            }
            .this-month-1oN-sub-1 {
            }
            .this-month-1oN-sub-2 {
              color: #1e1e1e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
          .arrow-up-02-sharp-6br {
            position: absolute;
            left: 0.4375rem;
            top: 4.6167rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.625rem;
            height: 0.8667rem;
          }
        }
      }
      .st-box-DAg {
        position: absolute;
        left: 31.2rem;
        top: 6.6rem;
        background-color: #fffdfd;
        border-radius: 0.5rem;
        width: 28.3rem;
        height: 17.4rem;

        .auto-group-fvy4-XhA {
          height: 6.1rem;
          position: absolute;
          left: 15.1rem;
          top: 5.5rem;
          width: 10.1rem;

          .k-rjS {
            left: 0;
            font-weight: 600;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            width: 6.3rem;
            position: absolute;
            top: 1.3rem;
            font-size: 2.3rem;
            color: #1e1e1e;
            white-space: nowrap;
            height: 3.5rem;
          }
          .orders-aQY {
            left: 0;
            top: 0;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.8rem;
            position: absolute;
            line-height: 1.5;
            color: #d6d6d6;
            width: 4.2rem;
            font-size: 1.2rem;
          }
          .this-month-WZ6 {
            width: 8.4rem;
            position: absolute;
            color: #d6d6d6;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            height: 1.8rem;
            left: 1.7rem;
            top: 4.3rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            display: flex;

            .this-month-WZ6-sub-0 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #e1034f;
              font-family: Poppins, 'Source Sans Pro';
            }
            .this-month-WZ6-sub-1 {
            }
            .this-month-WZ6-sub-2 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #1e1e1e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .arrow-up-02-sharp-nuv {
            width: 0.6315rem;
            height: 0.8742rem;
            position: absolute;
            left: 0.4268rem;
            top: 4.6168rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .earning-logo-7BW {
          width: 12.2rem;
          height: 12.1rem;
          position: absolute;
          left: 1.2rem;
          top: 2.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .align-box-top-right-qdJ {
          width: 5.5rem;
          height: 6rem;
          position: absolute;
          left: 4.5rem;
          top: 5.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .st-box-kEU {
        padding: 2.6rem 3.1rem 2.7rem 1.2rem;
        width: 28.3rem;
        height: 17.4rem;
        position: absolute;
        left: 62.5rem;
        top: 6.6rem;
        display: flex;
        box-sizing: border-box;
        border-radius: 0.5rem;
        background-color: #fffdfd;
        align-items: center;

        .auto-group-pkgc-EvL {
          margin-right: 1.7rem;
          width: 12.2rem;
          height: 12.1rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-ffax-aDW {
          margin: 2.9rem 0rem 3.1rem 0rem;
          width: 10.1rem;
          height: calc(100% - 6rem);
          position: relative;
          flex-shrink: 0;

          .k-h3E {
            position: absolute;
            font-weight: 600;
            line-height: 1.5;
            color: #1e1e1e;
            font-size: 2.3rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.3rem;
            height: 3.5rem;
            left: 0;
            top: 1.3rem;
          }
          .balance-oMA {
            position: absolute;
            top: 0;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #d6d6d6;
            width: 5rem;
            height: 1.8rem;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            left: 0;
          }
          .this-month-XHA {
            white-space: nowrap;
            display: flex;
            font-weight: 600;
            line-height: 1.5;
            color: #d6d6d6;
            font-family: Poppins, 'Source Sans Pro';
            top: 4.3rem;
            font-size: 1.2rem;
            align-items: baseline;
            width: 8.4rem;
            height: 1.8rem;
            position: absolute;
            left: 1.7rem;

            .this-month-XHA-sub-0 {
              color: #e1034f;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
            }
            .this-month-XHA-sub-1 {
            }
            .this-month-XHA-sub-2 {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #1e1e1e;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
          .arrow-up-02-sharp-d7E {
            width: 0.6315rem;
            height: 0.8742rem;
            position: absolute;
            left: 0.4268rem;
            top: 4.6168rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .st-box-KEx {
        height: 17.4rem;
        position: absolute;
        left: 93.6rem;
        top: 6.5rem;
        background-color: #fffdfd;
        border-radius: 0.5rem;
        width: 28.3rem;

        .auto-group-d5pn-F8c {
          left: 15.1rem;
          top: 5.5rem;
          width: 10.1rem;
          height: 6.1rem;
          position: absolute;

          .k-NDE {
            height: 3.5rem;
            position: absolute;
            font-weight: 600;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            width: 5.8rem;
            top: 1.3rem;
            font-size: 2.3rem;
            line-height: 1.5;
            white-space: nowrap;
            left: 0;
          }
          .total-sales-V2x {
            width: 6.7rem;
            height: 1.8rem;
            left: 0;
            font-size: 1.2rem;
            color: #d6d6d6;
            font-family: Poppins, 'Source Sans Pro';
            position: absolute;
            top: 0;
            font-weight: 600;
            line-height: 1.5;
            white-space: nowrap;
          }
          .this-month-1GC {
            left: 1.7rem;
            font-size: 1.2rem;
            line-height: 1.5;
            color: #d6d6d6;
            font-family: Poppins, 'Source Sans Pro';
            width: 8.4rem;
            height: 1.8rem;
            position: absolute;
            white-space: nowrap;
            display: flex;
            top: 4.3rem;
            font-weight: 600;
            align-items: baseline;

            .this-month-1GC-sub-0 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #04a749;
            }
            .this-month-1GC-sub-1 {
            }
            .this-month-1GC-sub-2 {
              color: #1e1e1e;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
            }
          }
          .arrow-up-02-sharp-WcG {
            top: 4.6168rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.6315rem;
            height: 0.8742rem;
            position: absolute;
            left: 0.4268rem;
          }
        }
        .earning-logo-3cC {
          object-fit: contain;
          vertical-align: top;
          width: 12.2rem;
          height: 12.1rem;
          position: absolute;
          left: 1.2rem;
          top: 2.6rem;
        }
        .hand-bag-01-ykk {
          position: absolute;
          left: 4rem;
          top: 4.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 6.5rem;
          height: 6.5rem;
        }
      }
      .search-JHE {
        height: 3.1rem;
        position: absolute;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.5rem 13.8rem 0.72rem 1rem;
        width: 21.7rem;
        left: 100.2rem;
        top: 0.9rem;
        background-color: #fffcfc;
        border-radius: 0.5rem;

        .group-4-CdW {
          margin-right: 0.5479rem;
          width: 2.0521rem;
          height: 1.8798rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .search-Xvg {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0798rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(97, 90, 90, 0.8600000143);
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .rectangle-17758-EaC {
        background-color: #ffffff;
        border-radius: 1rem;
        width: 86.9rem;
        height: 39.1rem;
        position: absolute;
        left: 0;
        top: 27.7rem;
      }
      .pie-chart-xWC {
        height: 67.2rem;
        position: absolute;
        left: 71.4rem;
        box-sizing: border-box;
        padding: 25.8rem 15.4rem 2.3rem 0.1rem;
        display: flex;
        align-items: flex-end;
        border-radius: 33.6rem;
        width: 67.2rem;
        top: 2rem;

        .auto-group-c63z-3Xe {
          margin: 3.9rem 6.7rem 2.8rem 0rem;
          width: 10.5rem;
          height: calc(100% - 6.7rem);
          flex-shrink: 0;

          .quarterly-MYL {
            align-items: center;
            display: flex;
            box-sizing: border-box;
            padding: 0.5rem 0.591rem 0.5rem 0.8rem;
            width: calc(100% - 0.8rem);
            height: 2.8rem;
            background-color: rgba(238, 238, 238, 0.4399999976);
            border-radius: 0.5rem;
            margin: 0rem 0rem 27.8rem 0.8rem;

            .quarterly-TLU {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: rgba(30, 30, 30, 0.5899999738);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.4rem;
            }
            .down-icon-afz {
              position: relative;
              border-radius: 0.5rem;
              flex-shrink: 0;
              margin: 0.4rem 0rem 0.393rem 0rem;
              width: 1.1092rem;
              height: calc(100% - 0.7929rem);

              .rectangle-2061-hkc {
                width: 0.6202rem;
                height: 0.9828rem;
                position: absolute;
                left: 0.488rem;
                top: 0.0108rem;
                background-color: #afafaf;
                border-radius: 0.5rem;
              }
              .rectangle-2062-Rgc {
                top: 0.0098rem;
                background-color: #afafaf;
                border-radius: 0.5rem;
                width: 0.6044rem;
                height: 0.9916rem;
                position: absolute;
                left: 0.0093rem;
              }
            }
          }
          .auto-group-pqgu-WTA {
            margin-right: 1.6rem;
            width: calc(100% - 1.6rem);
            display: flex;
            align-items: center;

            .nov-dGt {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.1rem;
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
            .dec-ZAY {
              font-size: 1.2rem;
              font-weight: 600;
              line-height: 1.5;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-tksy-tTi {
          box-sizing: border-box;
          padding: 3.3rem 5.1rem 3.3rem 3.4rem;
          width: 34.5rem;
          height: 100%;
          background-color: #ffffff;
          border-radius: 1rem;
          flex-shrink: 0;

          .customers-oKn {
            font-weight: 600;
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 0.1rem;
            font-size: 2.2rem;
          }
          .customers-that-buy-products-Lac {
            line-height: 1.5;
            color: #d9d9d9;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 2.2rem;
            font-size: 1.2rem;
            font-weight: 600;
          }
          .group-5-TQL {
            margin-left: 1.7rem;
            box-sizing: border-box;
            padding: 1.1rem 0.591rem 0.991rem 0.7rem;
            height: 25.1rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:2:71');
            width: 24.3rem;
            background-size: cover;

            .frame-y7n {
              width: 100%;
              height: 100%;
              position: relative;
              overflow: hidden;
              border-radius: 10rem;

              .ellipse-3-ir4 {
                position: absolute;
                left: 0.0579rem;
                top: 0.0579rem;
                object-fit: contain;
                vertical-align: top;
                width: 22.9458rem;
                height: 22.9458rem;
              }
              .ellipse-6-xVW {
                position: absolute;
                left: 0.5794rem;
                top: 0.6953rem;
                object-fit: contain;
                vertical-align: top;
                width: 22.4243rem;
                height: 21.2075rem;
              }
              .ellipse-7-5KE {
                height: 22.9458rem;
                position: absolute;
                left: -0.5794rem;
                top: -0.1738rem;
                object-fit: contain;
                vertical-align: top;
                width: 22.9458rem;
              }
              .total-new-customers-c4G {
                left: 7.5rem;
                font-size: 2.4rem;
                line-height: 1.2125;
                color: #1e1e1e;
                width: 6.4rem;
                height: 5.9rem;
                position: absolute;
                top: 7.5rem;
                font-weight: 700;
                font-family: Inter, 'Source Sans Pro';

                .total-new-customers-c4G-sub-0 {
                }
                .total-new-customers-c4G-sub-1 {
                  font-size: 1.2rem;
                  font-weight: 600;
                  line-height: 1.2125;
                  color: #1e1e1e;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
            }
          }
        }
      }
      .monthly-earning-UVn {
        left: 3.2rem;
        top: 34.6rem;
        color: #d9d9d9;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 10rem;
        height: 1.8rem;
        position: absolute;
      }
      .overview-aoi {
        font-size: 2.2rem;
        font-weight: 600;
        color: #1e1e1e;
        width: 10.5rem;
        top: 31.2rem;
        left: 3rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.3rem;
        position: absolute;
      }
      .months-bar-Vvg {
        width: 77.1rem;
        position: absolute;
        align-items: flex-end;
        display: flex;
        column-gap: 1rem;
        border-radius: 1rem;
        height: 25.5rem;
        left: 4.9rem;
        top: 35.6rem;

        .rectangle-17759-zMe {
          width: 5.5rem;
          height: 16.8rem;
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-17760-vFJ {
          border-radius: 1rem;
          flex-shrink: 0;
          width: 5.5rem;
          height: 12rem;
          background-color: #f2f0fe;
        }
        .rectangle-17761-SjS {
          width: 5.5rem;
          height: 23.7rem;
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
        }
        .rectangle-17762-yUU {
          width: 5.5rem;
          height: 18.7rem;
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-17763-KHS {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 5.5rem;
          height: 20.4rem;
          background-color: #f2f0fe;
        }
        .rectangle-17764-eqW {
          width: 5.5rem;
          height: 9.6rem;
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-17765-bVr {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 5.5rem;
          height: 21rem;
          background-color: #f2f0fe;
        }
        .rectangle-17766-jrx {
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 5.6rem;
          height: 25.4rem;
          background-color: #5a32ea;
          border-radius: 1rem;
        }
        .rectangle-17767-ej2 {
          margin-bottom: 0.1rem;
          width: 5.5rem;
          height: 24.4rem;
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-17768-L64 {
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 5.5rem;
          height: 18.6rem;
        }
        .rectangle-17769-S96 {
          width: 5.5rem;
          height: 17.6rem;
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .rectangle-17770-xt8 {
          width: 5.5rem;
          height: 19.6rem;
          background-color: #f2f0fe;
          border-radius: 1rem;
          flex-shrink: 0;
        }
      }
      .jan-3ua {
        width: 2.3rem;
        position: absolute;
        left: 6.4rem;
        font-weight: 600;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 1.8rem;
        top: 62.3rem;
        font-size: 1.2rem;
        color: #000000;
        white-space: nowrap;
      }
      .feb-8g8 {
        color: #000000;
        width: 2.2rem;
        height: 1.8rem;
        left: 12.9rem;
        top: 62.3rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .mar-EjA {
        white-space: nowrap;
        width: 2.4rem;
        position: absolute;
        line-height: 1.5;
        font-size: 1.2rem;
        font-weight: 600;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        height: 1.8rem;
        left: 19.4rem;
        top: 62.3rem;
      }
      .apr-x9N {
        height: 1.8rem;
        top: 62.3rem;
        line-height: 1.5;
        color: #000000;
        width: 2.2rem;
        left: 25.9rem;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
      }
      .may-4y6 {
        top: 62.3rem;
        font-size: 1.2rem;
        line-height: 1.5;
        height: 1.8rem;
        position: absolute;
        font-weight: 600;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 2.7rem;
        left: 32.4rem;
      }
      .jun-PkU {
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 1.8rem;
        left: 38.7rem;
        font-size: 1.2rem;
        font-weight: 600;
        white-space: nowrap;
        width: 2.3rem;
        position: absolute;
        top: 62.3rem;
        color: #000000;
      }
      .jul-uip {
        white-space: nowrap;
        width: 1.9rem;
        position: absolute;
        font-size: 1.2rem;
        color: #000000;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        height: 1.8rem;
        left: 45.8rem;
        top: 62.3rem;
        font-weight: 600;
      }
      .aug-EWC {
        left: 52rem;
        font-size: 1.2rem;
        color: #000000;
        white-space: nowrap;
        width: 2.5rem;
        height: 1.8rem;
        position: absolute;
        font-family: Poppins, 'Source Sans Pro';
        top: 62.3rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .sep-xSC {
        font-size: 1.2rem;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        width: 2.3rem;
        height: 1.8rem;
        position: absolute;
        left: 58.5rem;
        top: 62.3rem;
        font-weight: 600;
        line-height: 1.5;
        white-space: nowrap;
      }
      .oct-HDa {
        font-size: 1.2rem;
        color: #000000;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        width: 2.2rem;
        height: 1.8rem;
        position: absolute;
        left: 65rem;
        top: 62.3rem;
        font-weight: 600;
        white-space: nowrap;
      }
    }
    .footer-ayN {
      height: 26.3rem;
      position: relative;
      flex-shrink: 0;
      width: 122.9rem;

      .rectangle-17772-X7v {
        position: absolute;
        left: 0rem;
        top: 0;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 122.9rem;
        height: 26.3rem;
      }
      .product-sell-rAC {
        font-weight: 600;
        width: 13.2rem;
        height: 3.3rem;
        position: absolute;
        top: 1.8rem;
        font-size: 2.2rem;
        left: 7.6rem;
        line-height: 1.5;
        color: #1e1e1e;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .hello-xU8 {
        display: flex;
        align-items: flex-end;
        width: 93.9rem;
        height: 9.8rem;
        position: absolute;
        left: 22.2rem;
        top: 13.2rem;

        .auto-group-hwy2-HFW {
          margin: 0rem 33.4rem 0.4rem 0rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .abstract-3d-c2t {
            margin-bottom: 0.1rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipicing-elit-w5A {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #d6d6d6;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.7rem;
          }
          .sharpens-illustration-eVN {
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-zslt-n5n {
          margin-right: 3.3rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .in-stock-KrQ {
            margin-bottom: 5.1rem;
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .in-stock-4Z6 {
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-sd9r-CfJ {
          margin-right: 9.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-4599-MYC {
            font-weight: 600;
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 5.1rem;
            font-size: 1.4rem;
          }
          .item-4599-5j6 {
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 1.5;
          }
        }
        .auto-group-wzdi-pgg {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-20-BXE {
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 5.1rem;
            font-size: 1.4rem;
            font-weight: 500;
          }
          .item-20-vDv {
            font-weight: 500;
            line-height: 1.5;
            color: #1e1e1e;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
        }
      }
      .product-name-TUk {
        width: 10.3rem;
        top: 7.4rem;
        font-size: 1.4rem;
        white-space: nowrap;
        line-height: 1.5;
        color: #d6d6d6;
        font-family: Poppins, 'Source Sans Pro';
        height: 2.1rem;
        position: absolute;
        left: 7.6rem;
        font-weight: 600;
      }
      .stock-N5v {
        font-size: 1.4rem;
        line-height: 1.5;
        height: 2.1rem;
        position: absolute;
        left: 90.2rem;
        top: 7.6rem;
        white-space: nowrap;
        width: 4rem;
        font-weight: 600;
        color: #d6d6d6;
        font-family: Poppins, 'Source Sans Pro';
      }
      .price-5m2 {
        width: 3.6rem;
        left: 100.3rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #d6d6d6;
        white-space: nowrap;
        height: 2.1rem;
        position: absolute;
        top: 7.6rem;
        font-family: Poppins, 'Source Sans Pro';
      }
      .total-sales-oBE {
        position: absolute;
        top: 7.5rem;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
        width: 7.8rem;
        height: 2.1rem;
        left: 111.4rem;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #d6d6d6;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipicing-elit-hnQ {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.8rem;
        left: 22.2rem;
        top: 23rem;
        font-size: 1.2rem;
        color: #d6d6d6;
        width: 32.9rem;
        position: absolute;
        font-weight: 600;
        line-height: 1.5;
      }
      .group-6-12Q {
        top: 1.8rem;
        display: flex;
        align-items: center;
        width: 32.2rem;
        height: 3.4rem;
        position: absolute;
        left: 87.4rem;

        .auto-group-v8w2-jUC {
          align-items: center;
          flex-shrink: 0;
          padding: 0.8rem 10.1rem 0.72rem 0.7rem;
          height: 100%;
          display: flex;
          background-color: #f8f8f8;
          border-radius: 0.4rem;
          margin-right: 2.3rem;
          box-sizing: border-box;

          .group-5-FhS {
            width: 2.0521rem;
            height: 1.8798rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.7479rem;
          }
          .search-azc {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.0798rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #777777;
          }
        }
        .auto-group-7t9w-JQp {
          display: flex;
          align-items: center;
          background-color: #f8f8f8;
          border-radius: 0.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.7rem 1.091rem 0.9rem 1.1rem;
          height: 100%;

          .last-30-days-2Lp {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.1rem;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #777777;
            font-family: Poppins, 'Source Sans Pro';
          }
          .down-icon-AT2 {
            flex-shrink: 0;
            margin: 0.5rem 0rem 0.293rem 0rem;
            width: 1.1092rem;
            height: calc(100% - 0.7929rem);
            position: relative;
            border-radius: 0.5rem;

            .rectangle-2061-65n {
              width: 0.6202rem;
              height: 0.9828rem;
              position: absolute;
              left: 0.488rem;
              top: 0.0108rem;
              background-color: #afafaf;
              border-radius: 0.5rem;
            }
            .rectangle-2062-R84 {
              left: 0.0093rem;
              top: 0.0098rem;
              background-color: #afafaf;
              border-radius: 0.5rem;
              width: 0.6044rem;
              height: 0.9916rem;
              position: absolute;
            }
          }
        }
      }
      .rectangle-17775-KjE {
        left: 11rem;
        top: 13rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 8.4rem;
        height: 4.7rem;
        position: absolute;
      }
      .rectangle-17776-3fE {
        height: 4.7rem;
        position: absolute;
        left: 11rem;
        top: 19.7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 8.4rem;
      }
    }
  }
}
